<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
</head>
<body>
<a href="https://hellosewe.herokuapp.com/12/?id=07,1982"> календарь :)</a>


<br>
<form name="idform">
    <input type="text" name="text" value="txt" accept-charset="utf-8">

    <input type="button" value="GO" onclick="location.href='?id='+escape(document.forms['idform'].elements['text'].value)">
</form>
<br>

<p th:text="'path:'+ ${text} "/>
<table style="border-collapse: collapse; width: 85%; margin-left: auto; margin-right: auto; border: 0;">
    <tbody>
    <tr>
        <td style="width: 25%; text-align: center; padding: 7px;"><span style="color: #95a5a6;">🛠 50+ Plugins</span></td>
        <td style="width: 25%; text-align: center; padding: 7px;"><span style="color: #95a5a6;">💡 Premium Support</span></td>
        <td style="width: 25%; text-align: center; padding: 7px;"><span style="color: #95a5a6;">🖍<p th:text="'path:'+ ${text} "/></span></td>
        <td style="width: 25%; text-align: center; padding: 7px;"><span style="color: #95a5a6;">⚙ Full API Access</span></td>
    </tr>
    </tbody>
</table>
</body>
</html>